<Header>
</Header>
<body id="center">



      <div class="mat-elevation-z8"style="width: 80%;margin: 20px auto;">
          <mat-table  [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let people">{{people.ID}}</mat-cell>
            </ng-container>
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let people">{{people.Name}}</mat-cell>
              </ng-container>
            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
                <mat-cell  *matCellDef="let people">{{people.Surname}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell  *matCellDef="let people"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="updateUser(people)">Update</button> <button mat-button (click)="deleteUsers(people.ID)"data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
      </div>


      <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Delete Entry</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to remove user.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" (click)=removeUser(selectedPerson) data-dismiss="modal">Remove</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      
       <div class="modal" id="myModal">

        <div class="modal-dialog" role="document">

        <div class="modal-content"> 

            
                
         <div style="margin: 0 auto;" *ngIf="selectedPerson"> 
             <div class="" style="width: 18rem;">
                <div class="modal-header">
                <h1 class="modal-title">Update</h1>
            </div>
                <form #form="ngForm" >
                    <div class="form-group">
                     <label for="fname">Name :</label><br>
                     <input type="text" name="Name" #Name="ngModel" [(ngModel)]="selectedPerson.Name"><br>
                    </div>
                    <div>
                     <label for="lname">Surname :</label><br>
                     <input type="text" name="Surname"  [(ngModel)]="selectedPerson.Surname" #Surname="ngModel">
                    </div>
                    <br>
                    <div class="modal-footer">
                    <button type="submit"(click)="Update(selectedPerson)" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                  </form> 
                </div> 
                </div>
                
                
            </div>
      </div>
      </div>
   
      <div class="container" style="width: 80%;margin: 20px auto;">
        <div style="margin: 0 auto;"> 
            <div class="container p-3 my-3 border" style="width: 18rem;">
                <form #form="ngForm" (submit)="onSubmit(form)">
                    <div class="form-group">
                     <label for="fname">Name :</label><br>
                     <input type="text" name="Name" #Name="ngModel" [(ngModel)]="data.formData.Name"><br>
                    </div>
                    <div>
                     <label for="lname">Surname :</label><br>
                     <input type="text" name="Surname"  [(ngModel)]="data.formData.Surname" #Surname="ngModel">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
        
                  </form> 
                  
            </div>
        </div>
     