
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

 <div class="container" >
    <table  class="table table-sm table-xs table-dark" style="width: 80; margin :20px auto; border-radius: 10px;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Edit/Delete</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{person.Name}}</td>
        <td>{{person.Surname}}</td>
        <td >
          <button  class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="updateUser(person)"><ion-icon name="book"></ion-icon></button>
           <button class="btn btn-warning"  data-toggle="modal" data-target="#deleteModal"  (click)="deleteUsers(person.ID)"> <ion-icon name="trash" ></ion-icon></button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
 

  <div class="modal" id="deleteModal" data-backdrop="false">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Delete Entry</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove user.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)=removeUser(selectedPerson) data-dismiss="modal">Remove</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal" data-backdrop="false">
    <div class="modal-dialog" role="document">
    <div class="modal-content">        
     <div style="margin: 0 auto;" *ngIf="selectedPerson"> 
         <div class="" style="width: 18rem;">
            <div class="modal-header">
            <h1 class="modal-title">Update</h1>
        </div>
            <form #form="ngForm" >
                <div class="form-group">
                 <label for="fname">Name :</label><br>
                 <input type="text" name="Name" #Name="ngModel" [(ngModel)]="selectedPerson.Name"><br>
                </div>
                <div>
                 <label for="lname">Surname :</label><br>
                 <input type="text" name="Surname"  [(ngModel)]="selectedPerson.Surname" #Surname="ngModel">
                </div>
                <br>
                <div class="modal-footer">
                <button type="submit"(click)="Update(selectedPerson)" class="btn btn-primary" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
              </form> 
            </div> 
            </div>
            
            
        </div>
  </div>
  </div>



</ion-content>
