
<Header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</Header>
<body id="center">

      <div>
    
      </div>

      <div class="mat-elevation-z8"style="width: 80%;margin: 20px auto;">
          <mat-table [dataSource]="dataSources">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let people">{{people.ID}}</mat-cell>
            </ng-container>
              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                  <mat-cell *matCellDef="let people">{{people.Username}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
                <mat-cell *matCellDef="let people">{{people.Password}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell  *matCellDef="let people"><button class="btn btn-primary">Update</button> <button mat-button (click)="deleteUser(people.ID)" class="btn btn-danger">Delete</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>
          </mat-table>
      </div>