<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Person</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #form="ngForm" (submit)="onSubmit(form)">
  <div class="container">
  <div class="card card bg-dark text-white">
    <div class="card-header">Add new person</div>
    <div class="card-body">
      
      <ion-label>Name:</ion-label><br>
      <ion-input type="text" name="Name" [(ngModel)]="data.formData.Name" ></ion-input><br>

      <ion-label>Surname:</ion-label><br>
      <ion-input type="text" name="Surname" [(ngModel)]="data.formData.Surname"></ion-input><br>
    </div>
    <div class="card-footer"><button type="submit" class="btn btn-primary">Add <ion-icon name="add-circle"></ion-icon></button></div>
  
  </div>

</div>
</form>
</ion-content>
